/*  COMMON */
.validator {
  display: none;
  color: #FC7F6F;
}

/* LOGIN */
.login-box p label{
  width: 100px;
}
.login-box p input{
  line-height: 20px;
}
.login-box .login-btn{
  position: relative;
  top: 10px;
  left: 125px;
}

/* ADD PROJECT */
.form_sections, .project_form, .facility_form{
  padding: 10px;
  padding-bottom: 30px;
}
.form_sections li label{
  width: 250px;
}
.form_sections li input, .form_sections li textarea{
  width: 250px;
}
/* VIEW PROJECTS LIST */
.project_list_section{
  padding: 10px 20px;
}
.legend{
  display:block;
  width:100%;
  padding:0;
  margin-bottom:20px;
  font-size:21px;
  line-height:inherit;
  color:#333;
  border:0;
  border-bottom:1px solid #e5e5e5;
}