/*  COMMON */
.validator {
  display: none;
  color: #FC7F6F;
}

/* LOGIN */
.login-box p label{
  width: 100px;
}
.login-box p input{
  line-height: 20px;
}
.login-box .login-btn{
}
/* BREADCRUMB */
.breadcrumb{
  line-height: 40px;
  padding: 0;
  margin: 0 10px;
  text-indent: 10px;

  border: solid 1px #999;
}

/* ADD_EDIT */
.form_sections {
  padding: 5px;
  padding-bottom: 30px;
}

.data-form{
   padding: 5px;
   padding-top: 20px; 
}

.form_sections li label{
  width: 120px;
}
.form_sections li input, .form_sections li textarea{
  width: 240px;
}

.buttons {
padding-top: 60px;
}

.btn {
width: 140px;      
}

/* VIEW PROJECTS LIST */
.project_list_section{
  padding: 10px 20px;
}
.legend{
  display:block;
  width:100%;
  padding:0;
  margin-bottom:20px;
  font-size:21px;
  line-height:inherit;
  color:#333;
  border:0;
  border-bottom:1px solid #999;
}

.ui-widget-content {
  padding: 5px;
  margin-bottom: 1px;
  border-bottom: 1px solid #999;
}

.select_item:hover,.select_item:focus, ui-widget-content:focus, ui-widget-content:hover{
  border-right: solid 4px #F39814; 
  background-color: #ffd;
  padding: 5px;
  color: #F39814;
}

.welcome > * {
  padding-left: 10px;
  color: #333;
} 

.ui-selecting, .ui-selecting { background: #FECA40; }
.ui-selected, .ui-selected { background: #F39814; color: white; }

#group-list-right .ui-selecting, #group-list-left .ui-selecting { background: #FECA40; }
#group-list-right .ui-selected, #group-list-left .ui-selected { background: #F39814; color: white; }

.context-menu-active {font-weight: bold; color: #F39814;}

/* ADD TASK */
.task_form_sections .task_form .checkbox, .task_form_data_collection {
padding: 0px 2px 0px 30px;
}


.task_form .note {
width: 500px;
}

/* ADD LOCATION */
.location_form_sections .location_form .checkbox, .location_form_data_collection {
padding: 0px 2px 0px 30px;
}

.location_form .note {
width: 500px;
}

.location_form {
width: 100%;
}

#photo_form {
width: 40%;
float: right;
}

li.category-name {
  font-size: larger;
  font-style: italic;
  color: #fff;
  background-color: #333;
  padding: 4px;
  text-decoration: underline;
}
.categorized li.ui-widget-content {
  text-indent: 10px;
}