/*APPLIES TO: position/margins/widths/heights*/

/* GENERAL THEMES */
body, html, .sidebar { height: 100% }
ol, ul { margin-bottom: 0; }
.btn { margin-bottom: 5px; }
.btn-warning { display: none; }
.btn { width: 100%; }

#document-upload { 
  width: 100%;
  margin: 0 auto;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 5px;
}

.header { margin-bottom: 10px; }

h3 { margin-top: 10px; }

.show { display: block; }
.hide { display: none; }

.required { border: 4px solid #f00;}
/* END GENRAL */

/* TOP HEADER */
#top_header{
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;
  clear: both;
  height: 40px;
}
#top_header #branding > * { float: left; }

.brand { 
  line-height: 40px;  
  padding-left: 10px; 
}

.logo { margin-left: 20px; }

#pm_name { padding: 0 12px; }

#top_header .logo img { height: 32px; margin: 4px; }

#pm_info ul { display: none; }
#pm_info { 
    float: right; 
    margin-right: 40px
}

.top-right-option a { padding: 12px; }
/* END TOP HEADER */

/* LOGIN */
.login-box p label { width: 100px; }

.login-box p input { line-height: 20px; }

.login-container { margin:10px; }

.login-container figure {
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px #999;
}
/* END LOGIN */

/* BREADCRUMB */
.breadcrumb li { display: inline-block; }

.br_seperator { margin-left: -10px; }

.breadcrumb {
  line-height: 40px;
  padding: 0;
  margin: 0 10px;
  text-indent: 10px;
  border: solid 1px #999;
}
/* END BREADCRUMB */

/* CONTENT_CONTAINER */
.content-container {
  max-width: 100%; 
  height: auto;
  margin: 0 auto;
}
.main { border-left: solid 1px #999; }
/* END CONTENT_CONTAINER */

/* COMMON FORM ELEMENTS */
.form_sections {
  padding: 5px;
  padding-bottom: 30px;
}

.form_sections input[type="button"] {
  white-space:initial;
}
.form_sections li label { width: 120px; }

.form_sections li textarea, 
.form_sections li text
{ width: 240px; }

textarea { resize: vertical;}

.scroll-bar { overflow-y: scroll; }

.list-panel {
  height: 475px;
  border: 1px solid #999;
}

.upload_list {
 width: 100%;   
}

.data-form {
  padding: 5px;
  padding-top: 20px; 
}

.welcome > * { padding-left: 10px; } 

/* BUTTONS */
.buttons{ margin-top: 40px; }

/* END COMMON FORM ELEMENTS */

/* PROJECT */
#btn_edit_project { display: none;}
/* END PROJECT */

/* VIEW PROJECTS LIST */
.project_list_section { padding: 10px 20px; }
/* END VIEW PROJECTS LIST */

/* END PROJECT */

/* MAP */
#map {
  width: 100%;
  height: 600px;
}
/* END MAP */

/* TASK */
.task_info_input {
 margin-left: 10px;
 margin-top: 25px;
}

.task_info_input li { padding-bottom: 10px; }

.task_boxes { margin-left: 10px; }

.checkbox {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#freq_list { margin-left: 20px; }

.task_box_label {
    padding-left: 20px;
    font-weight: bold;
}

.tab_cbox { width: 400px; }

#freq_list { margin-left: 40px; }

.checkbox_text { margin-left: 20px; }

.client_form { padding: 10px; }
/* END TASK */

/* LOCATION */
.location_form { width: 100%; }

.btn-add-location-names {display: inline-block;}

.field_analyte_form textarea, 
.lab_analyte_form textarea
{ width: 100% !important; }
/* END LOCATION */

#photo_form {
  width: 40%;
  float: right;
}

li.category-name {
  font-size: larger;
  font-style: italic;
  color: #fff;
  background-color: #FFB445;
  padding: 4px;
  text-decoration: underline;
}

.context-menu-list{ margin-left: 10px; }

/* JS WIDGETS */

.ui-widget-content {
  padding: 5px;
  margin-bottom: 1px;
  border-bottom: 1px solid #999;
}

.select_item:hover,.select_item:focus, 
ui-widget-content:focus, 
ui-widget-content:hover {
  border-right: solid 4px #F39814; 
  padding: 5px;
}

.confirmbuttons {
   margin-bottom:0;
   width:auto;
}

.categorized li.ui-widget-content {
  text-indent: 10px;
}
/* JS WIDGETS */