/* GENERAL STYLES */
body, html, .sidebar {height: 100%}
ol, ul {  margin-bottom: 0; }
.btn{margin-bottom: 5px;}
.high-textarea {height: 200px}
.btn-warning { display: none; }
/* END GENRAL */

/* LOGIN */
.login-container{margin:10px;}
.login-container figure{
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px #999;
}
/* END LOGIN */

/* TOP HEADER */
#top_header{
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;
  /*min-width: 1000px;*/
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  clear: both;
  height: 40px;
}
#top_header #branding > * { float: left; }
.brand{line-height: 40px;  padding-left: 10px; }
.logo {margin-left: 20px}
#pm_name {padding: 0 12px;}
#top_header .logo img{ height: 32px; margin: 4px }

#pm_info ul{ display: none; }
#pm_info {float: right; margin-right: 40px}
.top-right-option a {
  padding: 12px;
}
.top-right-option a:hover {
  background-color: #e5e5e5;
}
/* END TOP HEADER */
/* BREADCRUMB */
.breadcrumb li {
  /*float: left;*/
  display: inline-block;
}
.br_seperator {
  margin-left: -10px;
}
/* END BREADCRUMB */
/* CONTENT_CONTAINER */
.content-container {
  max-width: 100%; height: auto;
  padding-left: 30px;
  padding-right: 60px;
  margin: 0 auto;
}
.main
{
  border-left: solid 1px #999;
}
.right-aside
{
}
/* END CONTENT_CONTAINER */

/* PROJECT */
#btn_edit_project{display: none;}
.form_sections input[type="button"]{
}

.show{display: block;}
.hide{display: none;}

.list-panel{
  height: 475px;
  border: 1px solid #999;
  overflow-y: scroll;
}

.upload_list{
 width: 100%;   
}

.buttons{
  margin: 0 auto;
}
.btn_set_current_project{
  max-width: 150px;
  white-space: initial;
}

/* FACILITY */
textarea { resize: vertical;}
/*.facility_form {display: none;}*/

/* CLIENT */
.client_form{
  padding: 10px;
  /*display: none;*/
}

/* LOCATION */
.add-new-locations textarea, .field_analyte_form textarea {
  resize: vertical;
  width: 100%;
  height: 25em;
}
.btn-add-location-names {display: inline-block;}