/* Starting CSS For Mobile Pages....... */
.welcome
{
  font-family: cursive;
  padding: 1%;
  background: #999;
  border-radius: 6px;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
}
.row.mobile_main{
    margin-left:0px!important;
    margin-right:0px!important;
}
/*CSS For Container Class */
.mobile_view{
  width: 100%;  
}
#home{
 background:#ffe0c3; 
}
#top_header{
 margin:10px auto auto auto;
}
#top_header #pm_info{
 text-align:left;
}
#pm_name{
 color:#666666;
 font-size:40px;
 padding-right:40px;
}
#pm_info a.glyphicon{
 font-size:40px;
 color:#333333;
}
#pm_info a.glyphicon:hover{
 text-decoration:none;
}
#pm_info #view_info{
 margin-right:40px;
}
#top_header #pm_info{
 padding-left:48px;
 padding-top:25px;
}
.welcome_content_box{
 width:100%;
 margin-top:10px;
}
.welcome_content_box:after,.welcome_content_box:before{
 display:table;
 clear:both;
 content:"";
}
.welcome_tagline{
 font-size:35px;
 color:#666666;
 margin-left:0px;
 min-height:600px;
 border-left:solid 1px #999999;
 float:left;
 position:relative;
 left:185px;
 padding-top:25px;
 padding-left:30px;
}
#top_header #branding{
 float:left;
 margin-left:50px;
}
#top_header #pm_info{
 float:right;
 margin-right:50px;
}
.click_button{
 left:300px;
 top:260px;
 z-index:99;
 position:relative;
}
@media only screen and (min-width:480px) and (max-width:767px){
#top_header #branding{
 margin-left:0px;
 padding:0px 10px;
 text-align:center;
 width:100%;
}
#top_header #branding img{
 width:400px;
}
#top_header #pm_info{
 margin:30px 0 0 0;
 padding:0px 10px;
 text-align:center;
 width:100%;
}
.welcome_tagline{
 left:0;
}
.click_button{
 left:0;
}
.welcome_tagline{
 margin-left:-130px;
 padding-top:10px;
 left:100px;
 font-size:30px;
} 

}
@media only screen and (min-width:0px) and (max-width:479px){
#top_header #branding{
 margin-left:0px;
 padding:0px 10px;
 text-align:center;
 width:100%;
}
#top_header #branding img{
 width:100%;
}
#top_header #pm_info{
 margin:30px 0 0 0;
 padding:0px 10px;
 width:100%;
}
.welcome_tagline{
 left:0;
}
.click_button{
 left:0;
}
.welcome_tagline{
 margin-left:-130px;
 padding-top:10px;
 left:100px;
 font-size:30px;
}

}