.content_left{
  padding-left: 8px;
}
a {color: #333; display: block;}
a:hover {color: #000;}
a, a:hover {text-decoration: none; cursor: pointer;}

.content_left > li{
  display: block;
  padding: 2px;
  border-bottom: solid 1px #999;
}
.content_left > li:last-child{
  border-bottom: 0;
}
.content_left ul {
  /*display: none;*/
  padding: 2px 0 2px 10px;
}
.content_left > li:hover{
}
.content_left > li:hover ul{
  padding:10px;
}
.content_left li:hover ul, .active_menu{
  display: block;
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  -ms-transition: width 2s ease;
  -o-transition: width 2s ease;
  transition: width 2s ease;
  text-indent: 1em;
}
.content_left li:hover > ul{
  padding: 0;
}
.content_left li:hover, .active_menu{
  border-right: solid 4px #F39814; 
  background-color: #ffd;
}
.content_left li:hover > ul li:hover
{
  border-bottom: solid 1px #F39814; 
  border-top: solid 1px #F39814; 
  border-left: solid 1px #F39814; 
}
.content_left li:hover > ul li:hover a {
 display: block;
}
