/* BUTTONS */
.btn-primary {
  background-color: #A39764;
  border-color: #70632A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color: #8C8247;
  border-color: #70632A;
}


/* TEXTBOX */
  