<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
  <!-- UI routes -->
  <route url="login" module="Authenticate" action="loadLoginView" resxfile="login" type="ui">
    <js_files>
      <js_file use="html" value="Web/js/app/validator.js"/>
      <js_file use="html" value="Web/js/app/controllers/auth.js"/>     
    </js_files>
    <css_files>
      <css_file value="Web/css/app/app-style.css"/>
      <css_file value="Web/css/app/app-theme.css"/>
      <css_file value="Web/css/app/theme.css"/>
    </css_files>
  </route><!-- login -->
  <route url="logout" module="Authenticate" action="disconnect" resxfile="login" type="ui">
  
  </route>
  <route url="project" module="Project" action="index" resxfile="project" type="ui">
    <js_files>
      <js_file use="head" value="Web/js/app/controllers/facility_manager.js"/>
      <js_file use="head" value="Web/js/app/controllers/project_manager.js"/>
      <js_file use="head" value="Web/js/app/controllers/left_menu_behaviour.js"/>
    </js_files>
    <css_files>
      <css_file value="Web/css/app/nav.css"/>
      <css_file value="Web/css/app/app-style.css"/>
      <css_file value="Web/css/app/app-theme.css"/>
      <css_file value="Web/css/app/theme.css"/>
      <css_file value="Web/css/app/tabs.css"/>
    </css_files>
  </route><!-- project/index -->
  <route url="project/showForm" module="Project" action="showForm" resxfile="project" type="ui">
    <js_files>
      <!--<js_file use="head" value="Web/js/app/controllers/project/project_showForm.js"/>-->
      <js_file use="project" />
    </js_files>
    <css_files>
      <css_file use="project"/>
    </css_files>
    <php_modules>
      <!-- Add just the file name, the Router class will take of building the correct path -->
      <!-- The "shared" attribute specifies where to get the module, either the current view Modules folder or the main Modules folder in Views -->
      <php_module key="project_tabs_open" file_name="project_tabs_open.php"/>
      <php_module key="project_form" file_name="project_form.php" shared="true"/>
      <php_module key="facility_form" file_name="facility_form.php" shared="true"/>
      <php_module key="client_form" file_name="client_form.php" shared="true"/>
      <php_module key="project_buttons" file_name="project_buttons.php"/>
      <php_module key="project_tabs_close" file_name="project_tabs_close.php"/>
    </php_modules>
  </route><!-- project/showAddForm -->
  <route url="project/listAll" module="Project" action="listAll" resxfile="project" type="ui">
    <js_files>
      <!--<js_file use="head" value="Web/js/app/controllers/project/project_listAll.js"/>-->
      <js_file use="project" />
    </js_files>
    <css_files>
      <css_file use="project"/>
    </css_files>
    <php_modules>
      <php_module key="active_list_module" file_name="active_list.php" shared="true"/>
      <php_module key="inactive_list_module" file_name="inactive_list.php" shared="true"/>
    </php_modules>
  </route><!-- project/listAll -->
  <route url="location" module="Location" action="index" resxfile="location" type="ui">
    <js_files>
      
    </js_files>
    <css_files>
      <css_file value="Web/css/app/nav.css"/>
      <css_file value="Web/css/app/app-style.css"/>
      <css_file value="Web/css/app/app-theme.css"/>
      <css_file value="Web/css/app/theme.css"/>

    </css_files>
  </route><!-- location/index -->
  
  <!-- WebService routes -->
  <route url="auth" module="Authenticate" action="authenticate" resxfile="login" type="ws" />
  <route url="project/add" module="Project" action="add" resxfile="project" type="ws" />
  <route url="project/edit" module="Project" action="edit" resxfile="project" type="ws" />
  <route url="project/delete" module="Project" action="delete" resxfile="project" type="ws" />
  <route url="project/getlist" module="Project" action="getList" resxfile="project" type="ws" />
  <route url="project/getItem" module="Project" action="getItem" resxfile="project" type="ws" />
  <route url="project/updateItems" module="Project" action="updateItems" resxfile="project" type="ws" />
  <route url="facility/add" module="Facility" action="add" resxfile="facility" type="ws" />
  <route url="facility/edit" module="Facility" action="edit" resxfile="facility" type="ws" />
  <route url="facility/delete" module="Facility" action="delete" resxfile="facility" type="ws" />
  <route url="facility/getlist" module="Facility" action="getList" resxfile="facility" type="ws" />
  <route url="facility/getItem" module="Facility" action="getItem" resxfile="facility" type="ws" />

</routes>
