body
{
  background-image: url("bg_body.png");
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  min-width: 320px;
}
.branding {

}

.logo {
  margin-left: 0px !important;
}
 
 
.top-right-option {
  line-height: 40px;
  padding: 0 5px;
}

.container-fluid
{
  padding: 0 10px;
}

.row
{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

footer
{
  margin: 0 auto;
}

.white-container
{
  background-color: #FFF;
  border-radius: 5px;
}

.clear
{
  clear: both;
  margin-bottom: 20px;
}

h1
{
  color: #AEC857;
  font-weight: bolder;
  font-size: 24px;
}

h2
{
  font-size: 20px;
}

.text-bold
{
  font-weight: bolder;
}

.col-no-pad
{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-pad-5
{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.col-pad-10
{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#map-info {
  width: 100% !important;
}
.map-info-row > div {
  display: inline-block;
}
.map-info-row > .map-info-icon > map-info-icon-image {
  margin-right: 5px;
}
.map-info-name {
  white-space: nowrap;
  overflow-x: hidden;
}

.mobile_map span.h3 {
  margin-top: 10px;
  padding-left: 0.8em;
  font-size: 18px;
  line-height: 20px;
}
.left-asidebg > nav,
#collapse-menu-button {
  /*position: absolute !important;
  top: 0 !important;
  left: 0 !important;*/
  z-index: 99;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
}
ul.content_left {
  width: 300px !important;
}
ul.content_left > li {
  line-height: 40px
}
ul.content_left > li > a > span.fa {
  width: 30px;
}

#mobile_list_map { display: none; }
.breacrumb-top {
  line-height: 40px;
}
#btn_addnewloc {
  width: 200px;
}
.modal-fullscreen {
  margin: -5px -1px !important;
}
.modal-header {
  padding-left: 40px;
}

/*Temporary to hide map in list view.*/

/*LANDING PAGE*/
/*
ul.content_left > li > a > span:last-child { display: none; }
ul.content_left > li > a > span.fa:first-child { 
  font-size: 30px; 
  text-align: center;
  width: 100%;
}

ul.content_left > li {
  width: 45px;
  margin: 2px auto;
  display: inline-block;
}*/