.abix-tree-list li { font-family:Arial, Helvetica, sans-serif;
    list-style: none; color:#FFF;margin-right: 25px; padding:8px 0 8px 10px
}



.abix-tree-list .collapsed span.icon, 
.abix-tree-list .expanded span.icon {
    margin-right: 6px;
    cursor: pointer;color:#FFF;
}